<header class="fixed top-0 left-0 w-full z-50 bg-white/60 backdrop-blur-sm shadow-sm">
  <nav class="mx-auto flex items-center justify-between sm:px-12 px-4 py-4">
    <!-- Logo -->
    <div
      class="text-2xl font-bold tracking-tight text-gray-800 cursor-pointer flex justify-center items-center gap-2"
    >
      <img src="/bit.png" class="h-8 w-8 rounded-full" />
      <span class="text-black">BIT</span>
    </div>

    <!-- Desktop Links -->
    <ul class="hidden md:flex space-x-8 text-gray-700 font-medium">
      <li>
        <a
          routerLink="/services"
          routerLinkActive="text-blue-600"
          class="hover:text-blue-600 transition-colors"
        >
          {{ 'Services' | translate }}
        </a>
      </li>
      <li>
        <a
          routerLink="/products"
          routerLinkActive="text-blue-600"
          class="hover:text-blue-600 transition-colors"
        >
          {{ 'Products' | translate }}
        </a>
      </li>
      <li>
        <a
          routerLink="/about"
          routerLinkActive="text-blue-600"
          class="hover:text-blue-600 transition-colors"
        >
          {{ 'About_us' | translate }}
        </a>
      </li>
      <li>
        <a
          routerLink="/contact"
          routerLinkActive="text-blue-600"
          class="hover:text-blue-600 transition-colors"
        >
          {{ 'Contact_us' | translate }}
        </a>
      </li>
    </ul>

    <!-- Mobile Menu Button -->
    <button
      class="md:hidden text-gray-800 focus:outline-none cursor-pointer hover:text-blue-600"
      (click)="toggleMenu()"
    >
      @if(!isMenuOpen) {
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        />
      </svg>
      } @else {
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
      }
    </button>

    <select (change)="changeLang($event)" class="hidden md:flex border rounded p-1">
      <option value="am">አማርኛ</option>
      <option value="en">English</option>
    </select>
  </nav>

  <!-- Mobile Dropdown -->
  @if (isMenuOpen) {
  <div class="md:hidden bg-white border-t border-gray-100 shadow-md">
    <ul class="flex flex-col space-y-3 px-6 py-4 text-gray-700 font-medium">
      <li>
        <a
          routerLink="/services"
          class="hover:text-blue-600 cursor-pointer"
          (click)="closeMenu()"
          >{{ 'Services' | translate }}</a
        >
      </li>
      <li>
        <a
          routerLink="/products"
          class="hover:text-blue-600 cursor-pointer"
          (click)="closeMenu()"
          >{{ 'Products' | translate }}</a
        >
      </li>
      <li>
        <a routerLink="/about" class="hover:text-blue-600 cursor-pointer" (click)="closeMenu()">{{
          'About_us' | translate
        }}</a>
      </li>
      <li>
        <a routerLink="/contact" class="hover:text-blue-600 cursor-pointer" (click)="closeMenu()">{{
          'Contact_us' | translate
        }}</a>
      </li>
      <li>
        <select (change)="changeLang($event)" class="border rounded p-1">
          <option value="am">አማርኛ</option>
          <option value="en">English</option>
        </select>
      </li>
    </ul>
  </div>
  }
</header>
